<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cverer</title>
    <link rel="icon" href="{{ url_for('static', filename='img.ico') }}">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agdasima&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alumni+Sans+Collegiate+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/css/Button---GIF-Click---Black--White.css">
    <link rel="stylesheet" href="/static/assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="/static/assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="/static/assets/css/Modern-Contact-Form.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>

<body class="bd">
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container"><a class="navbar-brand font-monospace" href="{{url_for('home')}}">Cverer</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('about')}}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    <div>
        <section class="getintouch">
            <div class="container modern-form">
                <div class="text-center">
                    <h4 style="color: #212529;font-size: 45px;">Get in touch</h4>
                </div>
                <hr class="modern-form__hr">
                <div class="modern-form__form-container">
                    <form action="/contact" method = "POST">
                        <div class="row">
                            <div class="col col-contact">
                                <div class="modern-form__form-group--padding-r form-group mb-3"><input class="form-control input input-tr" type="text" placeholder="First Name" name = "nom">
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-contact">
                                <div class="modern-form__form-group--padding-l form-group mb-3"><input class="form-control input input-tr" type="text" placeholder="Email" name = "email">
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="modern-form__form-group--padding-t form-group mb-3"><textarea class="form-control input modern-form__form-control--textarea" placeholder="Message" name = "msg"></textarea>
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-primary submit-now" type="submit">Submit Now</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="#">FBM Team</a></li>
                <li class="list-inline-item me-4"><a class="link-light" href="{{url_for('about')}}">About</a></li>
                <li class="list-inline-item"><a class="link-light" href="{{url_for('contact')}}">Contact us</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item me-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-linkedin text-light">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4"></path>
                    </svg></li>
                <li class="list-inline-item"></li>
            </ul>
            <p>Copyrights ©2024 FBM</p>
            <p>Created By <a href = "https://www.linkedin.com/in/tferhan/" target = "_blank">Taha FERHAN</a></p>
        </div>
    </footer>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>